adal==1.2.7
aiokafka==0.7.2
alembic==1.8.1
anyio==3.6.1
argcomplete==2.0.0
asttokens==2.0.8
attrs==22.1.0
azure-common==1.1.28
azure-core==1.25.1
azure-graphrbac==0.61.1
azure-mgmt-authorization==2.0.0
azure-mgmt-containerregistry==10.0.0
azure-mgmt-core==1.3.2
azure-mgmt-keyvault==10.1.0
azure-mgmt-resource==21.1.0
azure-mgmt-storage==20.0.0
azureml-core==1.46.0
backcall==0.2.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==4.0.0
boto3==1.24.84
botocore==1.27.84
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
colorama==0.4.5
contextlib2==21.6.0
cryptography==37.0.4
cycler==0.11.0
databricks-cli==0.17.3
decorator==5.1.1
distlib==0.3.6
docker==5.0.3
entrypoints==0.4
executing==1.1.0
fastapi==0.85.0
filelock==3.8.0
Flask==2.2.2
fonttools==4.37.4
gitdb==4.0.9
GitPython==3.1.27
google-api-core==2.10.1
google-auth==2.12.0
google-cloud-core==2.3.2
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
greenlet==1.1.3
grpcio==1.49.1
gunicorn==20.1.0
h11==0.14.0
htmlmin==0.1.12
humanfriendly==10.0
idna==3.4
ImageHash==4.3.1
importlib-metadata==4.13.0
ipython==8.5.0
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonpickle==2.2.0
kafka-python==2.0.2
kiwisolver==1.4.4
knack==0.9.0
kubernetes==24.2.0
llvmlite==0.39.1
Mako==1.2.3
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
missingno==0.5.1
mlflow==1.29.0
mlflow-skinny==1.29.0
mlserver==1.1.0
mlserver-mlflow==1.1.0
msal==1.19.0
msal-extensions==1.0.0
msrest==0.7.1
msrestazure==0.6.4
multimethod==1.8
ndg-httpsclient==0.5.1
networkx==2.8.7
numba==0.56.2
numpy==1.23.3
oauthlib==3.2.1
packaging==21.3
pandas==1.4.4
pandas-profiling==3.3.0
paramiko==2.11.0
parso==0.8.3
pathspec==0.10.1
patsy==0.5.2
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.2.0
pkginfo==1.8.3
platformdirs==2.5.2
portalocker==2.5.1
prometheus-client==0.14.1
prometheus-flask-exporter==0.20.3
prompt-toolkit==3.0.31
protobuf==4.21.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-grpc-prometheus==0.7.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.2
Pygments==2.13.0
PyJWT==2.5.0
PyNaCl==1.5.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pysftp==0.2.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.2.1
PyWavelets==1.4.1
PyYAML==6.0
querystring-parser==1.2.4
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.11.2
SecretStorage==3.3.3
shap==0.41.0
six==1.16.0
sklearn==0.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
SQLAlchemy==1.4.41
sqlparse==0.4.3
stack-data==0.5.1
starlette==0.20.4
starlette-exporter==0.14.0
statsmodels==0.13.2
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
threadpoolctl==3.1.0
tqdm==4.64.1
traitlets==5.4.0
types-cryptography==3.3.23
typing_extensions==4.3.0
urllib3==1.26.12
uvicorn==0.18.3
uvloop==0.17.0
virtualenv==20.16.5
visions==0.7.5
waitress==2.1.2
wcwidth==0.2.5
websocket-client==1.4.1
Werkzeug==2.2.2
wget==3.2
zipp==3.8.1
